html body{
margin:0;
background: #fff;
font-family: 'Lato', Arial, sans-serif;
}
section{
margin:2%;
margin-left: 10%%
}
h2{
	font-weight: 300;
    font-size: 2em;
    line-height: 1.3;
color:#ed8151;
}
  h1{
	margin: 0;
	margin-left:6%;
    font-weight: 300;
    font-size: 2.625em;
    line-height: 1.3;
    color:#ddd;
}
 
.a_right{
	text-align: right;
	margin-right: 5%;
}
.a_center{
	text-align: center!important;
}
.a_left{
	text-align: left;
}


.hidden_menu{
	background-color: #133;
	width: 100vw;
	height: 100vh;
	display: none;
	position:fixed;
	top:0;
	left:0;
}

.submenu{
	padding:0;
}

.submenu li{
	list-style: none;
	padding-top: 4%;
	padding-bottom: 4%;
	border-bottom: 1px solid #fff;
	text-align: center;

}

.submenu a{
	color:#fff;
	font-family: 'Lato', Arial, sans-serif;
		    font-size: 1.625em;
        line-height: 1.3;
	text-decoration: none;
	
}

/*Bouttons de navigation*/
button{
	position:relative;
	display:inline-block;
	min-width:35%;
	min-height:60%;
	color:#777;
    font-size: 1.625em;
        line-height: 1.3;
        height: 10vh;
        width:100vw;

	text-decoration:none;
	margin:0 auto;
	/*margin-left:3vh;*/
	/*border-radius:5px;*/
	border:solid 1px #fff;
	background:#ed8151;
	background:#ddd;
	text-align:center;
	padding:20px 30px;
	transition: all 0.1s;
 
}


 
/*Bouttons de navigation*/
button:hover {
color: #ed8151;
}
 