html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y:hidden;
    font-family: 'Lato', 'Calibri', Arial, sans-serif;
    font-size: 0.8em;
}

#top {
    display: block;
    background-color: #DDD;
    width: 100vw;
    height: 32px;
    border-bottom: 2px solid #AAA;
}

#entrer_name_dossier{
    display: none;
    margin: auto;
    margin-left: calc( 50% - 250px);
    margin-top: calc( 50vh - 250px);
    background-color: #272822;
    width: 500px;
    height: 500px;
    color:whitesmoke;
    position: fixed;
    z-index: 10000;
    opacity: 0.8;
}

#upload-file{
    display: none;
    margin: auto;
    margin-left: calc( 50% - 250px);
    margin-top: calc( 50vh - 250px);
    background-color: #272822;
    width: 500px;
    height: 500px;
    color:whitesmoke;
    position: fixed;
    z-index: 10000;
    opacity: 0.8;
}

input{
    border: none;
    color:white;
    border-bottom: 1px solid white;
    background-color: #272822;
    width: 200px;
    margin-bottom: 120px;
    margin-top: 120px;

}

button{
    border: 1px solid white;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: none;
    background-color: #272822;
    width: 200px;

}

#main {
    display: block;
    background-color: #272822;
    width: 100vw;
    /* height: calc(100vh - 54px); */
    height: 100 vh;
    overflow: auto;
}


#formulaire {
    display: none;
    position: absolute;
    left: -500px;
    color: #272;
    width: 500px;
    /* height: calc(100vh - 54px); */
    height: 100 vh;
    background-color: #DDD;
    margin-right: -0.25em;
    padding: 0;
}


#leftnav {
    display: inline-block;
    position: absolute;
    left: 0px;
    color: #343a40;
    width: 200px;
    /* height: calc(100vh - 54px); */
    height: 100vh;
    background-color: #DDD;
    margin-right: -0.25em;
    padding: 0;


}

#separator {
    display: inline-block;
    position: absolute;
    left: 200px;
    width: 2px;
    /* height: calc(100vh - 54px); */
    height: 100vh;
    background-color: #AAA;
    margin: 0;
    margin-right: -0.25em;
    padding: 0;
    cursor: e-resize;
}

#content {
    display: inline-block;
    position: absolute;
    left: 202px;
    height: calc(100vh - 100px);
    /* height: 100vh; */
    width: calc(100% - 204px);
    background-color: #343a40;
    margin: 0;
    margin-right: -0.25em;

}

#footer {
    display: block;
    background-color: #222;
    width: 100%;
    height: 100px;
    overflow-x:none;
    overflow-y:scroll;
}

#top-nav {
    color: #495057;
    border-color: rgba(0, 0, 0, 0.9);
    background-color: #343a40;
    /* border-bottom: 1px solid #AAA; */
}
.relative{
    position: relative;
    padding: 0;
    margin: auto;
    width: 25px;
    height: 25px;
}


.top-nav-elmt {
    box-sizing: border-box;
    border-width: .125rem;
    border-right: .125rem solid #AAA;
    display: inline-block;
    width: 32%;
    min-height: 50px;
    padding: 0;
    padding-top: 9px;
    text-align: center;
}


.top-nav-elmt :hover {
    color: #AAA;
}

.top-nav :last-child {
    border-right: none;
}

ul {
    list-style: none;
    line-height: 1.5em;
    margin-left: 0;
    padding-left: 10px;
}

.tc {
    text-align: center;
}

.file :hover {
    color: darkorange;
}

.selected {
    color: darkorange;
}

.popup-menu-icon {
    float: right;
    margin-right: 10px;
    color: #999;
    min-width: 30px;
    text-align: center;
    padding-left: 10px;
}

.popup-menu-icon :hover {
    min-width: 20px;
    border: 1px solid #999;
    border-radius: 4px;
}

.popup-menu {
    background-color: white;
    box-shadow: darkgray;
    padding: 0;
    z-index: 100;
}

.popup-menu ul {
    padding: 0;
}

.popup-menu li {
    padding: 10px;
    padding-top: 10px;

}

.popup-menu li:hover {
    background-color: #DDD;

}

.tc{text-align: center;}

.popup-media{
    text-align: center;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    margin: auto;
    padding-top: 10vh;
}
.popup{
    display: none;
}