<!doctype html>

<html> 
<head> 
     <title>Video Streaming </title> 
     <link href="/static/css/robot.css" rel="stylesheet">
     <script src="/static/js/socket.io.min.js"></script>
     <script src="/static/js/robot.js"></script>
     
</head> 
<body> 
    <h1> Live Video Streaming </h1> 
    <img src="{{ url_for('video_feed') }}">

	<div id="joy3Div"></div>
    <script src="/static/js/joy.js"></script>
    <script type="text/javascript">
        var joy3Param = { "title": "joystick3" };
        var Joy3 = new JoyStick('joy3Div', joy3Param);
    </script>

</body> 
</html>
