<html>

<head>
    <title>Pi controller</title>
    <script src="/static/assets/socket.io.min.js"></script>
    <!--script type="text/javascript" src="/static/js/joypad.js"></script>-->

    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;
            background-color: cadetblue;
        }

        body {
            background-image: url("{{url_for('video_feed')}}");
            background-size: cover;
        }

        .wrapper-controls {
            background-color: rgba(255, 255, 255, 0.35);
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border:1px solid black;

        }

        .controls {
            background-color: rgba(255, 255, 255, 0.35);
            width: 85px;
            height: 85px;
            border-radius: 50%;
            border:1px solid black;
            position: relative;
            top: 37px;
            left: 37px;
        }

        .slider {
            width: 70vh;
            margin-left: -80vh;

        }

        .left {
            position: absolute;
            width: 70vh;
            left: 50px;
            top: 50px;
            left: 105px;
            width: 50px;
        }

        .slider-wrapper {
            transform: rotate(-90deg);
            position: relative;
        }

        .right {
            position: absolute;
            top: 70vh;
            right: 200px;
        }
    </style>
    <script src="/static/assets/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('connected', {data: 'I\'m connected!'});
        });
    </script>
</head>

<body onload="init()">
    <div class="left">
    <div id="vitesse"></div>
        <div class="slider-wrapper">
            <input id="slider-vitesse" class="slider" type="range" min="0" max="100" value="0">
        </div>
    </div>
 <button onclick="mouvement('forward')">Avancer</button>
 <button onclick="mouvement('stop')">stop</button>
 <button onclick="mouvement('left')">A gauche</button>
 <button onclick="mouvement('right')">A droite</button>
 <button onclick="mouvement('backward')">Reculer</button>
 <div id="myDiv">

</div>
 <div class="right">
        <div id="wrapper-controls" class="wrapper-controls">
            <div id="controls" class="controls">
            </div>
        </div>
    </div>

    
    <script>
    function mouvement(action){
        if (action == "forwad")
            {socket.emit("mouvement", {vec:[1,0]})}
        else if (action == "backward")
            {socket.emit("mouvement", {vec:[-1,0]})}
        else if (action == "left")
            {socket.emit("mouvement", {vec:[0,-1]})}
        else if (action == "right")
            {socket.emit("mouvement", {vec:[0,1]})}
        else {socket.emit("stop", {vec:[0,1]})}
    }

 
    function sendPost(url, parametres) {
    //Création dynamique du formulaire
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", url);
    //Ajout des paramètres sous forme de champs cachés
    for(var cle in parametres) {
    if(parametres.hasOwnProperty(cle)) {
    var champCache = document.createElement("input");
    champCache.setAttribute("type", "hidden");
    champCache.setAttribute("name", cle);
    champCache.setAttribute("value", parametres[cle]);
    form.appendChild(champCache);
    }
    }
    //Ajout du formulaire à la page et soumission du formulaire
    document.body.appendChild(form);
    form.submit();
    }

</script>
<script>
var controls = document.getElementById("wrapper-controls")
var recControls = controls.getBoundingClientRect();
var initX =  recControls.left + controls.clientWidth/2
var initY = recControls.top + controls.clientHeight/2
console.log("zoneNeutre");
console.log(initX);
console.log(initY);
document.addEventListener('keydown', function (e){
    if(e.keyCode == 32) {
        e.preventDefault();
        //app-specific code goes here
        socket.emit("stop", {vec:[0,0]})
    }
    if(e.keyCode == 90) {
        e.preventDefault();
        //app-specific code goes here
        socket.emit("mouvement", {vec:[100,100]})
    }
});

function handleStart(evt) {
    var elmt = document.getElementById("myDiv");
    evt.preventDefault();
    var touches = evt.changedTouches;
   /* 
    for (var i = 0; i < touches.length; i++) {
        initX = touches[i].pageX;
        initY = touches[i].pageY;
        console.log(touches[i].pageX);
        console.log(touches[i].pageY);
    }*/
    
}

function handleMove(evt) {
    var elmt = document.getElementById("myDiv");
    evt.preventDefault();
    var touches = evt.changedTouches;
    for (var i = 0; i < touches.length; i++) {
        var posX = touches[i].pageX;
        var posY = -touches[i].pageY;
        var vec = [posX - initX, posY + initY]
        var norme = Math.sqrt(vec[0] ** 2 + vec[1] ** 2);
        var vitesse = 100 *  norme / (controls.clientWidth/2)
        if (norme < 1) {norme = 1;}
        var vecNormalise = [vec[0] / norme, vec[1] / norme]
        var elmt = document.getElementById("myDiv");
        elmt.innerHTML = vecNormalise;
        socket.emit('move', {vec: vecNormalise, vitesse:vitesse});
        //elmt.innerHTML = vecNormalise[0];
        // console.log(touches[i].pageY);
    }
}


function handleStop(evt) {
    var elmt = document.getElementById("myDiv");
    evt.preventDefault();
    var touches = evt.changedTouches;
    for (var i = 0; i < touches.length; i++) {
        elmt.innerHTML = "0";
        // console.log(touches[i].pageY);
    }
}

function init() {
    var isTouchCapable = 'ontouchstart' in window ||
        window.DocumentTouch && document instanceof window.DocumentTouch ||
        navigator.maxTouchPoints > 0 ||
        window.navigator.msMaxTouchPoints > 0;

    if (isTouchCapable) {
        let elmt = document.getElementById("wrapper-controls")
        elmt.addEventListener("touchstart", handleStart, false);
        elmt.addEventListener("touchmove", handleMove, false);
        elmt.addEventListener("touchend", handleStop, false);
        elmt.addEventListener("touchleave", handleStop, false);
    }
}
</script>
</body>
</html>
