<html>

<head>
    <title>Pi controller</title>
    <script type="text/javascript" src="/static/js/joypad.js"></script>
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;
        }

        body {
            background-image: url("{{url_for('video_feed')}}");
            background-size: cover;
        }

        .wrapper-controls {
            background-color: rgba(255, 255, 255, 0.35);
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }

        .controls {
            background-color: rgba(255, 255, 255, 0.35);
            width: 85px;
            height: 85px;
            border-radius: 50%;
            position: relative;
            top: 37px;
            left: 37px;
        }

        .slider {
            width: 70vh;
            margin-left: -80vh;

        }

        .left {
            position: absolute;
            width: 70vh;
            left: 50px;
            top: 50px;
            left: 105px;
            width: 50px;
        }

        .slider-wrapper {
            transform: rotate(-90deg);
        }

        .right {
            position: absolute;
            top: 70vh;
            right: 200px;
        }
    </style>
</head>

<body onload="init()">

    <h1>Pi Video Surveillance</h1>
    <div class="left">
        <div id="vitesse"></div>
        <div class="slider-wrapper">
            <input id="slider-vitesse" class="slider" type="range" min="0" max="100" value="0">
        </div>

    </div>

    <div id="myDiv">

    </div>

    <div class="right">
        <div id="wrapper-controls" class="wrapper-controls">
            <div class="controls">

            </div>
        </div>
    </div>

 <button onclick="forward(100)">En avant</button>
 <button onclick="left(100)">A gauche</button>
 <button onclick="right(100)">A droite</button>
 <button onclick="backward(100)">En avant</button>
    <div class="right">
        <div id="wrapper-controls" class="wrapper-controls">
            <div class="controls">

            </div>
        </div>
    </div>
    <script>
        function forward(vitesse){
            console.log("forward");
            sendPost({action:"forward",vitesse:100});
        }

        function retour(){
    post_en_url('/',{"res":"bravo"})
    }
    
function sendPost(url, parametres) {
    //Création dynamique du formulaire
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", url);
    //Ajout des paramètres sous forme de champs cachés
    for(var cle in parametres) {
    if(parametres.hasOwnProperty(cle)) {
    var champCache = document.createElement("input");
    champCache.setAttribute("type", "hidden");
    champCache.setAttribute("name", cle);
    champCache.setAttribute("value", parametres[cle]);
    form.appendChild(champCache);
    }
    }
    //Ajout du formulaire à la page et soumission du formulaire
    document.body.appendChild(form);
    form.submit();
    }
    </script>
</body>

</html>