{% set images = "/static/images/" %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Projet {{room_name}}</title>
    <script src="/static/assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <!-- Fontawesome -->
    <link rel="stylesheet" type="text/css" href="/static/assets/fontawesome/web-fonts-with-css/css/fontawesome-all.css">
    <!-- Import codemirror -->
    <link rel="stylesheet" href="/static/assets/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/static/assets/codemirror/theme/monokai.css">
    <link rel="stylesheet" href="/static/assets/css/normalize.css">
    <script src="/static/assets/codemirror/lib/codemirror.js"></script>
    <script src="/static/assets/codemirror/mode/python/python.js"></script>
    <script src="/static/assets/codemirror/mode/css/css.js"></script>
    <script src="/static/assets/codemirror/mode/javascript/javascript.js"></script>
    <script src="/static/assets/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <!-- <script src="/static/assets/codemirror/mode/stex/stex.js"></script> -->
    <script src="/static/assets/codemirror/keymap/sublime.js"></script>
    <script src="/static/assets/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="/static/assets/codemirror/addon/display/autorefresh.js"></script>
    <!-- <script type="text/javascript" src="/static/assets/js/socket.io.min.js"></script> -->
    <script src="/static/assets/socketio/socket.io.min.js"></script>
    <link rel="stylesheet" href="/static/css/editeur.css">
</head>

<body>

    <!-- <div id="top"></div> -->
    <div id="main">
        
        <div  id="entrer_name_dossier" class="popup" onclick="event.stopPropagation()">
            <div class="tc">
                <br>
                <i class="fa fa-file fa-4x"></i>
                <br>
                <h4>Création d'un fichier</h4> 
                <form action="" method="POST">
                    <input type="text" name="nom-fichier" id="nom-fichier" placeholder="Nom du dossier">
                    <br>
                    <button id="createFile"> Créer </button>
                </form>
                <br>
            </div>
        </div>
        
        <div  id="upload-file" class="popup" onclick="event.stopPropagation()">
            <div class="tc">
                <br>
                <i class="fa fa-upload fa-4x"></i>
                <br>
                <h4>Choix du fichier</h4> 
                <form action="" method="POST"  enctype="multipart/form-data">
                    <input type="file" name="file" id="file">
                    <input type="text" name="dossier" id="dossier" style="display:none">
                    <br>
                    <button id="uploadFile"> Téléverser </button>
                </form>
                <br>
            </div>
        </div>

        <div  id="popup-media" class="popup popup-media">
            <div class="tc">
            </div>
        </div>


        <div id="leftnav">
            <div id="top-nav">
                <div class="top-nav-elmt" onclick="saveFile()">    <div class="relative"><i class="fa fa-save fa-2x"></i> <div id="puce" style="display:none;width: 10px;height: 10px;background-color: darkorange;border-radius: 50%;position: absolute;right:-3px;bottom:-3px;"></div></div></div>
                <div class="top-nav-elmt" onclick="startServer()"> <div class="relative"><i class="fa fa-play fa-2x"></i><div id="puce-server" style="display:none;width: 10px;height: 10px;background-color: rgb(1, 114, 67);border-radius: 50%;position: absolute;left:-3px;bottom:-3px;"></div></div></div>
                <div class="top-nav-elmt" onclick="stopServer()" style="border-right: none;"> <i class="fa fa-stop fa-2x"></i></div>
                <hr style="margin-top:0;">
            </div>
            <div class="tc" onclick="hidePopupMenu()">
                <img src="{{images}}{{room}}.png" alt="" height="300px">
                <br>
                <h4>{{room_name}}</h4>
                <hr>
                <br>
            </div>

            <ul>
                <!-- Template -->
                <li class="dossier" id="templates" onclick="event.stopPropagation();openDir(this)" style="margin-bottom: 5px;"><i class="fa fa-folder"></i> templates
                    <span class="popup-menu-icon" data-dossier="templates"><i class="fa fa-ellipsis-v"></i> </span> 
                    <ul class="sous-menu">
                        {% for file in templates %}
                        <li class="file" id="{{file}}" data-dossier="templates" onclick="event.stopPropagation();openFile(this)"> <i class="fa fa-code"></i> {{file}} </li>
                        {% endfor %}
                    </ul>
                </li>
                <!-- Static  -->
                <li class="dossier" id="static" onclick="event.stopPropagation();openDir(this)" style="margin-bottom: 5px;"><i class="fa fa-folder"></i> static
                    <span class="popup-menu-icon" data-dossier="static"><i class="fa fa-ellipsis-v"></i> </span> 
                    <ul class="sous-menu">
                        <li class="dossier" id="static/css" onclick="event.stopPropagation();openDir(this)" style="margin-bottom: 5px;"><i class="fa fa-folder"></i> css
                            <span class="popup-menu-icon" data-dossier="static/css"><i class="fa fa-ellipsis-v"></i> </span> 
                            <ul class="sous-menu">
                                {% for file in css %}
                                <li class="file" id="{{file}}" data-dossier="static/css" onclick="event.stopPropagation();openFile(this)"> <i class="fa fa-code"></i> {{file}} </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dossier" id="static/js" onclick="event.stopPropagation();openDir(this)" style="margin-bottom: 5px;"><i class="fa fa-folder"></i> js
                            <span class="popup-menu-icon" data-dossier="static/js"><i class="fa fa-ellipsis-v"></i> </span>
                            <ul class="sous-menu">
                                {% for file in js %}
                                <li class="file" id="{{file}}" data-dossier="static/js" onclick="event.stopPropagation();openFile(this)"> <i class="fa fa-code"></i> {{file}} </li>
                                {% endfor %} 
                            </ul>
                        </li>
                            
                        <li class="dossier" id="static/medias" onclick="event.stopPropagation();openDir(this)" style="margin-bottom: 5px;"><i class="fa fa-folder"></i> medias
                            <span class="popup-menu-icon" data-dossier="static/medias"><i class="fa fa-ellipsis-v"></i> </span> 
                            <ul class="sous-menu">                            
                                {% for file in medias %}
                                <li class="file" id="{{file}}" data-dossier="static/medias" onclick="event.stopPropagation();openFile(this)"> <i class="fa fa-code"></i> {{file}} </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% for file in static %}
                        <li class="file" id="{{file}}" data-dossier="static" onclick="event.stopPropagation();openFile(this)"> <i class="fa fa-code"></i> {{file}}</li>
                        {% endfor %} </li>
                    </ul>
                </li>
                {% for file in files %}
                <li class="file" id="{{file}}" onclick="event.stopPropagation();openFile(this)"> <i class="fa fa-code"></i> {{file}} </li>
                {% endfor %}

            </ul>

        </div>
        <div id=separator></div>
        <div id="popup-menu" class="popup-menu popup" style="display:none">
        </div>

        <div id="content">
            <textarea id="code"></textarea>
            <div id="footer" style="color:darkorange"></div>
        </div>


        <script>
            var depart = 0;

            function resize(evt) {
                console.log("te");
                var arrivee = evt.clientX;
                if (arrivee >= depart) {
                    var sens = +1;
                } else {
                    var sens = -1
                }
                var leftNav = document.getElementById("leftnav");
                var separator = document.getElementById("separator");
                var content = document.getElementById("content");
                var lNwidth = (arrivee).toString() + "px";
                var leftContent = (arrivee + 4).toString() + "px";
                var widthContent = (document.body.clientWidth - arrivee - 4).toString() + "px";
                leftNav.style.width = lNwidth;
                // Ajout a cause de la position absolute

                separator.style.left = lNwidth;
                content.style.left = leftContent;
                content.style.width = widthContent;
                console.log(document.body.clientWidth);
            }


            var sep = document.getElementById("separator");
            sep.addEventListener("mousedown", function(e) {
                console.log(e);
                depart = e.clientX;
                document.addEventListener("mousemove", resize);
                document.addEventListener("mouseup", function() {
                document.removeEventListener("mousemove", resize);
                });
            });

            var editeurOption = {
                mode: {
                    name: "python",
                    version: 3,
                    singleLineStringErrors: false
                },
                // mode : "css",
                theme: "monokai",
                keyMap: "sublime",
                lineNumbers: true,
                indentUnit: 4,
                matchBrackets: true,
                scrollbarStyle: "null",
                lineWrapping: true,
                autoRefresh: true,
            }


            var editeur = CodeMirror.fromTextArea(document.getElementById("code"), editeurOption);
            editeur.setSize("100%", "100%");
            editeur.setOption("extraKeys", {
                "Ctrl-B": function(cm) {
                    document.getElementById('out').style.display = "block";
                    runcode(editeur.getValue());
                }
            });
        </script>


        <style>
            .CodeMirror {
                font-size: 14px;
            }
        </style>
        <!-- Gestion de la partie Socket.io  -->
        <script>
            // Connexion du websocket
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/');
            
            // Création des variables global du script utilisé dans les payload
            var myRoom = "{{room}}";
            var user = "{{user}}";
            var port = ""
            var dossierOpenFile = ""
            console.log(user);
            var openedFile = ""
            var extension = ""
            var content = ""
            var payload = {
                "room":"{{room}}",
                "user":"{{user}}",
                "adresse":"{{adresse}}",
                "port":"",
                "dossier":"",
                'file':"",
                'extension':"",
                'content':"",
                'result':"",
                "search":""
                }
            switch (myRoom) {
                case "ada":
                    console.log("Room Ada");
                    payload["port"] = "5010";
                    break;
                case "grace":
                    console.log("Room Alan");
                    payload['port'] = "5011";
                    break;
                case "alan":
                    console.log("Room Alan");
                    payload['port'] = "5012";
                    break;
                case "tim":
                    console.log("Room Tim");
                    payload['port'] = "5013";
                    break;
                case "guido":
                    console.log("Room Guido");
                    payload['port'] = "5014";
                    break;
            }

            let ssMenu = document.querySelectorAll(".sous-menu")
            ssMenu.forEach( elmt => {
                elmt.style.display = "none";
            });

            var elmtList = document.querySelectorAll(".popup-menu-icon")
            elmtList.forEach(elmt => {
                elmt.addEventListener("click",
                    function() {
                        event.stopPropagation();
                        popupMenu(elmt);
                    },
                    false)
            });


            // Ouverture du popup
            function popupMenu(elmt) {
                dossier = elmt.dataset.dossier;
                let menu = document.createElement("ul");
                let popup = document.getElementById("popup-menu");
                while( popup.firstChild) {
                        // La liste n'est pas une copie, elle sera donc réindexée à chaque appel
                        popup.removeChild( popup.firstChild);
                    }
                // 
                liFichier = document.createElement("li");
                liFichier.innerHTML = ' <i class="fa fa-file" style="color:#343a40"></i> Créer un fichier';
                liFichier.addEventListener("click",e => {
                    event.stopPropagation();
                    openMenuFile(dossier)
                })
                menu.appendChild(liFichier)
                liUpload = document.createElement("li");
                liUpload.innerHTML = ' <i class="fa fa-upload" style="color:#343a40"></i> Téléverser un document';
                liUpload.addEventListener("click",e => {
                    event.stopPropagation();
                    openMenuUpload(dossier)
                })
                menu.appendChild(liUpload)
                popup.appendChild(menu)
                // 
                console.log(elmt.dataset.dossier);
                popup.style.display = "block"
                popup.style.position = "fixed";
                let top = window.pageYOffset + elmt.getBoundingClientRect().top;
                let left = window.pageXOffset + elmt.getBoundingClientRect().left;
                top = top.toString() + "px"
                left = left.toString() + "px"
                console.log(top);
                popup.style.top = top
                popup.style.left = left
            }

            // Fonction OpenDir
            function openDir(elmt) {
                console.log("Open dir");
                let ssMenu = elmt.querySelector("ul");
                if (ssMenu.style.display == "none")
                    { ssMenu.style.display = "block";}
                else { ssMenu.style.display = "none";}
            }

            function openMenuFile(dossier){
                let formName  = document.getElementById("entrer_name_dossier");
                input = formName.querySelector("input")
                input.dataset.dossier = dossier;
                formName.style.display = "block";
                return false;
            }
            
            function openMenuUpload(dossier){
                let formName  = document.getElementById("upload-file");
                formName.style.display = "block";
                let inputDossier = formName.querySelector("#dossier");
                inputDossier.value = dossier;
            }

            let btnCreateFile = document.getElementById("createFile")
            btnCreateFile.addEventListener('click', createFile) 
            function createFile(e){
                e.preventDefault()
                let inputFile = document.getElementById("nom-fichier")
                payload['dossier'] = inputFile.dataset.dossier
                payload['file'] = inputFile.value
                parentDir = document.getElementById(dossier);
                ssMenu = parentDir.querySelector("ul")
                console.log(parentDir)
                newEntry = document.createElement("li");
                newEntry.innerHTML = "<li class=\"file\" id=\""+payload['file']+"\" data-dossier=\"" + payload['dossier'] +  "\" onclick=\"event.stopPropagation();openFile(this)\"> <i class=\"fa fa-code\"></i> "+file+" </li>"
                ssMenu.appendChild(newEntry)
                hidePopup()
                // On vide le contenu de la clé content pour par transporter trop de données inutile
                payload["content"] = ""
                socket.emit('create_file',payload)
                console.log('On creer le fichier')
                // A Modifier
            }

            function hidePopup() {
                console.log("On cache les popups")
                let popups = document.querySelectorAll(".popup")
                popups.forEach( popup => { 
                    popup.style.display = "none";
                })
            }

            // Fonction selected
            function selected(elmt) {
                let allElmts = document.querySelectorAll(".file");
                allElmts.forEach(oneElmt => {
                    oneElmt.classList.remove("selected");
                });
                elmt.classList.add("selected");
            }

            function switchModeEditeur(ext){
                let langage = {
                            name: "python",
                            version: 3,
                            singleLineStringErrors: false}
                switch (ext) {
                    case "py":
                        langage = {
                            name: "python",
                            version: 3,
                            singleLineStringErrors: false
                        }
                        break;
                    case "html":
                        langage = {
                            name: "htmlmixed",
                            tags: {
                                style: [["type", /^text\/(x-)?scss$/, "text/x-scss"],
                                        [null, null, "css"]],
                                custom: [[null, null, "customMode"]]
                                }
                        }
                            break;
                    case "css":
                        langage = "css";
                        break;
                    case "js":
                        langage = {
                                    name: "javascript",
                                    statementIndent : 2
                                }
                        break;
                            }
                console.log(ext)
                console.log(langage)
                editeur.setOption("mode", langage);
                }
 
            // Fonction ouverture d'un fichier
            function openFile(elmt) {
                // Récupération du nom du dossier cwd
                if(elmt.dataset.dossier != undefined){
                    payload["dossier"] =  elmt.dataset.dossier;
                    }
                else{
                    payload["dossier"] =  "";
                }
                // Récupération du nom du fichier & de l'extension
                payload["file"] = elmt.id;
                payload["extension"] = payload["file"].split('.').pop();
                switchModeEditeur(payload["extension"])
                // Traitement suivant l'extension (images, vidéos, fichiers)
                if (["png","jpg","jpeg","gif","webp","webm","mp4"].includes(payload["extension"])){
                    let popupMedia = document.getElementById("popup-media");
                    let newMedia;
                    popupMedia.innerHTML = "";
                    let cross = document.createElement("div");
                    cross.style.height = "30px";
                    cross.style.width = "30px";
                    cross.style.boxSizing = "border-box";
                    cross.style.margin = "auto";
                    cross.style.paddingTop = "6px";
                    cross.style.fontSize = "16px";
                    cross.style.textAlign = "center";

                    cross.innerHTML = "X";
                    cross.style.borderRadius = "50%";
                    cross.style.position = "fixed";
                    cross.style.color = "white";
                    cross.style.top = "5vh";
                    cross.style.left = "95vh";
                    cross.style.border = "1px solid white";
                    popupMedia.appendChild(cross);
                    if (["png","jpg","jpeg","gif","webp"].includes(payload["extension"])){
                        newMedia = document.createElement("img");
                        newMedia.src = "/static/projets/" + payload["room"] +"/" + payload["dossier"] + "/" + payload["file"];                 
                    }
                    else{
                        newMedia = document.createElement("video");
                        newMedia.controls = "controls";
                        newMedia.src = "/static/projets/" + payload["room"] +"/" + payload["dossier"] + "/" + payload["file"];                 
                    }
                    popupMedia.appendChild(newMedia)
                    popupMedia.style.display = "block";
                }
                else{
                    selected(elmt)
                    socket.emit('open_file', payload);
                }
            }

 
            // Fonction de sauvegarde du fichier
            function saveFile() {
                console.log(dossierOpenFile)
                payload["content"] =  editeur.getValue()
                socket.emit('save', payload)
                document.getElementById("puce").style.display = "none";
            }
            // Ajout d'un eventlistener sur l'editeur (capture du clavier)
            editeur.on("keyup", function() {
                let autocompletion = document.getElementById("autocompletion")
                let nbLine = editeur.getCursor().line
                let nbChar = editeur.getCursor().ch
                console.log(payload["extension"])
                payload["search"] = editeur.getRange({"line":nbLine,"ch":0},{"line":nbLine,"ch":nbChar})
                payload["content"] =  editeur.getValue()
                socket.emit('edition', payload);
                document.getElementById("puce").style.display = "block";

            });
            
            // Reception de l'ouverture de fichier
            socket.on("open_file", function(payload) {
                editeur.setValue(payload['content']);
            });


            // Reception d'un message d'une modification dans l'éditeur 
            socket.on('edition', function(pld) {
                console.log(pld)
                if (pld['user'] != payload["user"] &&  pld['file'] == payload["file"] ) {
                    editeur.setValue(pld['content']);
                } else {
                    console.log("Le message suivant provient de moi  ou  ne concerne pas le bon fichier");
                }
            });


            // Reception d'un résultat d'autocompletion
            socket.on("autocompletion", function(pld){
                if (pld["user"] == payload["user"]){ 
                let coords = editeur.cursorCoords(true);
                console.log(payload['results']);
                if (pld["results"][0] != ""){
                    if (document.getElementById('autocompletion')){
                        document.getElementById('autocompletion').remove()
                    }
                    console.log("Création du popup")
                    let newPopup = document.createElement("div");
                    newPopup.id = "autocompletion";
                    newPopup.style.position = "absolute";
                    newPopup.style.backgroundColor = "rgba(0,0,0,0.8)";
                    newPopup.style.zIndex = 10000;
                    newPopup.style.paddingTop = "0px";
                    newPopup.style.paddingRight = "10px";
                    newPopup.style.top = ( coords.bottom + 2).toString()  + "px";
                    let newList = document.createElement("ul");
                    newList.style.marginTop = "0px";
                    newPopup.appendChild(newList)
                    pld['results'].forEach( elmt => {
                        let newElmt = document.createElement('li');
                        newElmt.innerHTML = elmt;
                        newList.appendChild(newElmt);
                    })
                    let code = document.querySelector(".CodeMirror");
                    newPopup.style.left = ( coords.left - code.getBoundingClientRect().x - 10 ).toString()  + "px";
                    code.appendChild(newPopup)
                }
                else{
                    document.getElementById('autocompletion').remove()
                }
                console.log(coords);
            }}); 

            // Receprion d'un résultat du process
            socket.on('process', function(payload) {
                let now = new Date();
                let heure   = now.getHours();
                let minute  = now.getMinutes();
                let seconde = now.getSeconds();
                console.log("retour de process")
                console.log(payload["output"])
                let footer = document.getElementById("footer");
                content = footer.innerHTML;
                content = content + "<br>" + heure + ":"+ minute + ":"+ seconde + "   " + payload["output"];
                footer.innerHTML = content
            });

            function startServer() {
                adresse = "http://" + payload["adresse"] + ":" + payload["port"]
                console.log(adresse)
                let win = window.open(adresse,'_blank');
                // console.log(win)
                win.focus();
                socket.emit('start_server', {
                    user: user,
                    room: myRoom
                });
                document.getElementById("puce-server").style.display = "block";
            }

            function stopServer() {
                socket.emit('stop_server', {
                    room: myRoom
                });
                document.getElementById("puce-server").style.display = "none";
            }

            window.addEventListener("click", hidePopup)
        </script>
</body>

</html>