<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>eXoMophisme</title>
		<meta name="description" content="Mathématiques du lycée de Sada" />
		<meta name="keywords" content="mathematiques, maths, lycée" />
		<meta name="author" content="CLAVE Etienne" />
		
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
		
				<!-- Les CSS -->
		<link rel="stylesheet" href="/static/assets/css/reveal.css">
		<link rel="stylesheet" href="/static/assets/css/theme/league.css" id="theme">
    	<link rel="stylesheet" type="text/css" href="/static/assets/exomorphisme/css/exomorphisme_diapo.css" />

		<script	src="/static/assets/js/jquery-3.2.1.min.js"></script>
				<!-- Katex -->
		<link rel="stylesheet" href="/static/assets/katex/katex.min.css">		
		<script src="/static/assets/katex/katex.min.js" ></script>

				<!-- Géogébra -->
		<script src="/static/assets/js/Newdeployggb.js"  async></script>
		<!-- Script Skulpt -->
		  <script src="/static/assets/skulpt/skulpt.min.js" type="text/javascript"></script>
  <script src="/static/assets/skulpt/skulpt-stdlib.js" type="text/javascript"></script>
  	    <script type="text/javascript">
	    				var eleve  = "eleve1";

			// output functions are configurable.  This one just appends some text
			// to a pre element.
			function outf(text) {
			var mypre = document.getElementById("output");
			mypre.innerHTML = mypre.innerHTML + text;
			}

			function builtinRead(x) {
			if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
			throw "File not found: '" + x + "'";
			return Sk.builtinFiles["files"][x];
			}

			function runcode(prog) {
			var outdiv = document.getElementById("out");
			outdiv.style.display = "block";
			var mypre = document.getElementById("output");
			mypre.innerHTML = '';
			Sk.pre = "output";
			Sk.configure({output:outf, read:builtinRead});
			(Sk.TurtleGraphics || (Sk.TurtleGraphics = {})).target = 'turtle';
			Sk.TurtleGraphics.width = 700;
			Sk.TurtleGraphics.height = 1000;
			var myPromise = Sk.misceval.asyncToPromise(function() {
			return Sk.importMainWithBody("<stdin>", false, prog, true);
			});
			myPromise.then(function(mod) {
			console.log('success');
			},
			function(err) {
			console.log(err.toString());
			mypre.innerHTML = err.toString();
			});
			}

			function runCours(i) {
			var prog = coursEditeurs[i].getValue();
			runcode(prog);
			}

			function runExo(i) {
			var prog = exoEditeurs[i].getValue();
			runcode(prog);
			}

			function runcodeTest() {
			var outdiv = document.getElementById("out");
			outdiv.style.display = "block";
			var editeurs = document.getElementsByClassName("CodeMirror");
			console.log(editeurs)
			var	prog = editeurs[0].save();
			var mypre = document.getElementById("output");
			mypre.innerHTML = '';
			Sk.pre = "output";
			Sk.configure({output:outf, read:builtinRead});
			(Sk.TurtleGraphics || (Sk.TurtleGraphics = {})).target = 'turtle';
			Sk.TurtleGraphics.width = 700;
			Sk.TurtleGraphics.height = 1000;
			var myPromise = Sk.misceval.asyncToPromise(function() {
			return Sk.importMainWithBody("<stdin>", false, prog, true);
			});
			myPromise.then(function(mod) {
			console.log('success');
			},
			function(err) {
			console.log(err.toString());
			mypre.innerHTML = err.toString();
			});
			}

		</script>
		 <!-- Import codemirror -->
  <link rel="stylesheet" href="/static/assets/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="/static/assets/codemirror/theme/monokai.css">
  <link rel="stylesheet" href="/static/assets/exomorphisme/css/diapo-isn.css">
  
  <link rel="stylesheet" href="/static/assets/css/normalize.css">
  <script src="/static/assets/codemirror/lib/codemirror.js"></script>
  <script src="/static/assets/codemirror/mode/python/python.js"></script>
  <!-- <script src="/static/assets/codemirror/mode/stex/stex.js"></script> -->
  <script src="/static/assets/codemirror/keymap/sublime.js"></script>
  <script src="/static/assets/codemirror/addon/edit/matchbrackets.js"></script>
  <script src="/static/assets/codemirror/addon/display/autorefresh.js"></script>

		{% block head %}
			{%endblock%}
		</head>
		<body>
			<div class="reveal">
				<div class="slides">
					
					
					{% block content %}



						{%endblock%}
						
						
					</div>
				</div>
				<!-- Div masquées qui servent de popup -->
				<div id="out" class="popup" onclick='disparition(this);' >
  					<div id="turtle" ></div>
				  	<div><pre id="output" ></pre></div>
				</div>

				<div id="form" class="popup" onclick='disparition(this);' >
					<form>
						<input id="distance" type="number" name="distance" >
						<input type="submit" name="submit" onclick="forward(document.getElementById('distance').value )">
					</form>
				</div>

				<div id="popup_photo" class="popup" onclick='disparition(this);'>
					<img id="img_photo" src="" width="auto" height="100%">
				</div>
				
<div id="customPopup">
     <h3>Titre du popup</h3>
     <p>Message du popup !</p>
     <p> </p>
     <input type="button" value="Ok" onclick="hidePopup();">
</div>


				<!--  -->
				<!-- Configuration de reveal.js -->
				<!--  -->
				<script src="/static/assets/lib/js/head.min.js"></script>
				<script src="/static/assets/js/reveal.js"></script>
				<link rel="stylesheet" href="/static/assets/lib/css/monokai.css">
				<script src="/static/assets/plugin/highlight/highlight.js"></script>
				<script>
				Reveal.initialize({
				width: "80%",
				height: "100%",
				margin: 0,
				minScale: 1,
				maxScale: 1,
				controls: true,
				progress: true,
				history: true,
				center: true,
				transition: 'slide', // none/fade/slide/convex/concave/zoom
				// TODO : Il faudrait changer cette config pour obtenir la meme config que dans le cours

				// Menu
				menu: {
					side: 'left',
					numbers: true,
					titleSelector: 'h1, h2, h3, h4, h5, h6',
					hideMissingTitles: false,
					markers: false,
					custom: false,
					themes: [
					{ name: 'Black', theme: '/static/assets/css/theme/black.css' },
					{ name: 'White', theme: '/static/assets/css/theme/white.css' },
					{ name: 'League', theme: '/static/assets/css/theme/league.css' },
					{ name: 'Sky', theme: '/static/assets/css/theme/sky.css' },
					{ name: 'Beige', theme: '/static/assets/css/theme/beige.css' },
					{ name: 'Simple', theme: '/static/assets/css/theme/simple.css' },
					{ name: 'Serif', theme: '/static/assets/css/theme/serif.css' },
					{ name: 'Blood', theme: '/static/assets/css/theme/blood.css' },
					{ name: 'Night', theme: '/static/assets/css/theme/night.css' },
					{ name: 'Moon', theme: '/static/assets/css/theme/moon.css' },
					{ name: 'Solarized', theme: '/static/assets/css/theme/solarized.css' }
					],
					transitions: true,
					openButton: true,
					openSlideNumber: false,
					keyboard: true,
					sticky: false,
					autoOpen: true
				},
				// Les plugins
				// TODO: Verifier l'interet de marked, markdown, zoom dans le projet
				// TODO: Rajouter fullscreeen
				dependencies: [
					{ src: '/static/assets/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					//plugin speaker note
					{ src: '/static/assets/plugin/notes/notes.js', async: true },
					// plugin ecriture
					{ src: '/static/assets/plugin/chalkboard/chalkboard.js' },
					// plugin fullscreen
					// plugin menu sandwich
					{ src: '/static/assets/plugin/menu/menu.js'},
				],
				keyboard: {
									67: function() { RevealChalkboard.toggleNotesCanvas() },	// toggle notes canvas when 'c' is pressed
									66: function() { RevealChalkboard.toggleChalkboard() },	// toggle chalkboard when 'b' is pressed
									46: function() { RevealChalkboard.clear() },	// clear chalkboard when 'DEL' is pressed
									//8: function() { RevealChalkboard.reset() },	// reset chalkboard data on current slide when 'BACKSPACE' is pressed
									// 68: function() { console.log(Reveal.getSlideNotes()) },	// downlad recorded chalkboard drawing when 'd' is pressed
					},
				
				});

				Reveal.addEventListener( 'slidechanged', function( event ) {
} );
				</script>
			<!-- Katex -->
			<script>
					(function(){
				$(".katex").each(function() {
				var texTxt = $(this).text();
				el = $(this).get(0);
				if(el.tagName == "div"){
				addDisp = "\\displaystyle";
				} else {
				addDisp = "";
				}
				try {
				katex.render(addDisp+texTxt, el);
				}
				catch(err) {
				$(this).html("<span class='err'>"+err);
							}
							});
							})();
					</script>		
				
				<!--  -->
				<!-- Configuration des petits truc en plus  -->
				<!-- TODO: Il faudrait les binder avec la config keyboard pour uniformiser -->
				<!--  -->
				<script>
				// Fonction pour remplacer toogle car utiliser par un autre plugin, pas genial d'ailleur
				//  TODO gerer un vrai toggle, connaitre l"etat due l'element et le basuler
				function disparition(e){
				$(e).css("display","none");
				}
				function apparition(e){
				$(e).css("display","block");
				console.log('Affichage de '+ e)
				}
				// document.onkeydown=function(e){
				// console.log(e);
				// if (e.keyCode == 65 && e.altKey) {
				// if ($('#proglab').css("display") == "none")
				// { $('#proglab').css("display","block");}
				// else{$('#proglab').css("display","none");}
				// }
				// else if (e.keyCode == 67 && e.altKey) {
				// if ($('#calculatrice').css("display") == "none")
				// { $('#calculatrice').css("display","block");}
				// else{$('#calculatrice').css("display","none");}
				// }
				// }
				</script>
				
				
				<script>
				$('#img_photo').click(function(e)
				{e.stopPropagation();
				});
				</script>

	
					{% block script %}
						{%endblock%}

					<script>
						function applyKey (_event_){
	
	// --- Retrieve event object from current web explorer
	var winObj = checkEventObj(_event_);
	
	var intKeyCode = winObj.keyCode;
	var intAltKey = winObj.altKey;
	var intCtrlKey = winObj.ctrlKey;
		
	// 1° --- Access with [ALT/CTRL+Key]
	if (intAltKey || intCtrlKey) {
		
		if ( intKeyCode == KEY_RIGHT || intKeyCode == KEY_LEFT ){
			
			// --- Display Message
			alert("Hello with ALT/CTRL !");
			
			// 3° --- Map the keyCode in another keyCode not used
			winObj.keyCode = intKeyCode = REMAP_KEY_T;
			winObj.returnValue = false;
			return false;
		}
		
	}
	// 2 ° --- Access without [ALT/CTRL+Key]
	else {
		
		if ( intKeyCode == KEY_RIGHT || intKeyCode == KEY_LEFT ){
			
			// --- Display Message
			alert("Hello !");
			
			// 3° --- Map the keyCode in another keyCode not used
			winObj.keyCode = intKeyCode = REMAP_KEY_T;
			winObj.returnValue = false;
			return false;
		}
		
	}
	
}




					</script>

	
					</body>
				</html>