<!DOCTYPE html>
<html lang="fr">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>STS-PI CONTROLLER</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-third column" style="margin-top: 10%">
        <a class="button button-primary u-full-width" href="/gauche">Gauche
        <img src=/static/medias/boutonG.png></a>
      </div>
      <div class="one-third column" style="margin-top: 10%">
        <a class="button button-primary u-full-width" href="/avant">Avant
        <img src=/static/medias/boutonAV.png></a>
      </div>
      <div class="one-third column" style="margin-top: 10%">
        <a class="button button-primary u-full-width" href="/droite">Droite
        <img src=/static/medias/boutonD.png></a>
      </div>
    </div>
    <div class="row">
      <div class="one-third column" style="margin-top: 10%">
        <a class="button button-primary u-full-width" href="/sens-horaire">Sens horaire
        <img src=/static/medias/boutonTournD.png></a>
      </div>
      <div class="one-third column" style="margin-top: 10%">
        <a class="button button-primary u-full-width" href="/arrière">Arrière
        <img src=/static/medias/boutonAR.png></a>
      </div>
      <div class="one-third column" style="margin-top: 10%">
        <a class="button button-primary u-full-width" href="/sens-anti-horaire">Sens-anti-horaire
        <img src=/static/medias/boutonTournG.png></a>
      </div>
    </div>
    <div class="row">
      <div class="one-third column" style="margin-top: 10%">
      </div>
      <div class="one-third column" style="margin-top: 10%">
        <a class="button button-primary u-full-width" href="/stop">Stop
        <img src=/static/medias/boutonOff.png></a>
      </div>
      <div class="one-third column" style="margin-top: 10%">
      </div>
      <div class="one-third column" style="margin-top: 10%">
        <a class="button button-primary u-full-width" href="/camera">Camera
        <img src=/static/medias/camera.png></a>
      </div>
      <div class="one-third column" style="margin-top: 10%">
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
