
body {
	font-size:40px
	color: #ff0000;
	position: relative;
	text-align: left;
	margin: 0px;
	padding: 0px;
	font-family: monospace;
}


h1 {
	background-color:#0000ff;
	position: relative;
	text-align:center;
	top: 5%;
	left: 0%;
}

h1:hover {
	background-color:#ff00ff;
	text-align:center
}


#joy3Div {
    position: fixed;
    top: 20vh;
    left: 65vw;
    width:200px;
    height:200px;
    margin:50px;
}

.slidecontainer {
  width: 20%; /* Width of the outside container */
  position: fixed;
  top: 70vh;
  left: 70vw;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
